
.create-post a{
    text-decoration:none;
    color: black;
}

.post-page-root{
    margin:auto;
    margin-top: 10rem;
    width:70%;
    padding:10px;
}

/* .arrows-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows-holder div{
    font-size: 3rem;
    padding:50px;
    border-radius: 50%;
    
    background:cadetblue;
} */


.thumb-nail-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,22rem));
   
    gap: 50px;
}